@{
    ViewData["Title"] = "Home Page";

}

<style>

    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    /* Float four columns side by side */
    .column {
        float: left;
        width: 50%;
        padding: 0 10px;
    }

    /* Remove extra left and right margins, due to padding */
    .row {
        margin: 0 -5px;
    }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

    p {
        text-align: justify;
        text-justify: inter-word;
    }
</style>
<div class="row">

    <div class="column">
        <br /><br /><br /><br />
        <div class="limit">
            <h3>Zadbaj o to, co najważniejsze - zdrowie</h3>
            <p>
                Informujemy, że osoby dotknięte wojną w Ukrainie mogą
                skorzystać bezpłatnie z opieki medycznej w ponad 50 placówkach
                medycznych PZU Zdrowie, które świadczą usługi w ramach NFZ.
                Konsultacje i badania można zrealizować na terenie całej Polski,
                m.in. w Warszawie, Krakowie, Katowicach, Gdańsku, Opolu i Częstochowie.
                Poza godzinami pracy placówek działa bezpłatna Teleplatforma Pierwszego
                Kontaktu Ministerstwa Zdrowia (800 137 200), gdzie nasi lekarze udzielają
                porad i wystawiają skierowania oraz recepty.
            </p>
        </div>
    </div>
    <div class="column">
        <div class="center">
            <img src="images/home.jpg" alt="Sample Photo1" width="400" height="400" />
        </div>
    </div>



</div>